.detail__title {
  width: 1200px;
  height: 500px;
  font-size: 5rem;

  display: flex;
  align-items: flex-end;
}

.detail__img {
  background-repeat: space;
  background-position: right;
  background-size: cover;
}

.movie_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

.movie_contents {
  display: flex;
  gap: 20px;
}
