body {
  margin: 0 auto;
  padding: 0;
  width: 1300px;
}

.home {
  width: 1300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
}

@media (max-width: 1570px) {
  .home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.loading {
  width: 64px;
  margin: auto;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: rgb(93, 93, 93) transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
