body {
  margin: 0 auto;
  padding: 0;
  width: 1300px;
}

.home {
  width: 1300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
}

@media (max-width: 1570px) {
  .home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
